nav, div, p, body, head{
    padding: 0;
    margin: 0;
}
body    {
    background-color: wheat;
}
#navbar {
    width: 100%;
    background-color: darkgoldenrod;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#navbar a   {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-right: 8px;
    margin-right: 5px;
}
#navbar span    {
    color: white;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}
#grandparent    {
    text-align: center;
}
#containerparent    {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: wrap;
}
#container  {
    background-color: white;
    border: solid 2px darkgoldenrod;
    height: 350px;
    width: 225px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
#container h3 {
    text-align: left;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
}
#container  p   {
    margin-left: 8px;
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
.button {
    background-color: darkgoldenrod;
    width: 95%;
    margin-top: 8px;
    color: white;
    border: 1px white;
    padding: 6px;
    border-radius: 5px;
}